
@model Tuple <object[],int>
@{
    ViewBag.Title = "Index";
    var buffer = Model.Item1;
    var length = Model.Item2;
}

<h2>ArrayList</h2>
<table class="table table-bordered">
    <tr>
        @for (int i = 1; i <= length; i++)
        {
            <td>@i</td>
        }
    </tr>

    <tr>
      @foreach (var item in buffer)
      {
         <th>@item</th>

      }
    </tr>
</table>

